<main th:class="|bottom-0 fixed flex left-0 right-0 top-16|"
      xmlns:th="http://www.thymeleaf.org">
    <div th:class="|h-full overflow-y-scroll w-72|">
        <ul>
            <li>
                <a th:class="|hover:bg-gray-200 inline-block p-4 w-full|"
                   th:href="@{/admin}"
                   th:text="|ホーム|"></a>
            </li>
            <li>
                <a th:class="|hover:bg-gray-200 inline-block p-4 w-full|"
                   th:href="@{/admin/database}"
                   th:text="|データベース|"></a>
            </li>
        </ul>
    </div>
    <div th:class="|h-full flex-1|">
        <iframe th:class="|h-full w-full|"
                th:src="@{/admin/database/manager/}"></iframe>
    </div>
</main>
