<main th:class="|mt-16 mx-auto w-11/12|"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">
    <th:block sec:authorize="${isAnonymous()}">
        <h1 th:class="|text-4xl|"
            th:text="|tsuzuru|"></h1>
        <p th:text="|日々を綴る。|"></p>
    </th:block>
    <th:block sec:authorize="${isAuthenticated()}">
        <div th:class="|bottom-2 fixed left-0 right-0 top-32|">
            <div th:class="|flex h-full mx-auto w-11/12|">
                <div th:class="|flex flex-col w-8/12|">
                    <div th:class="|flex-1 overflow-y-scroll|">
                        <div th:class="|my-4|"
                             th:v-bind:key="item.uuid"
                             th:v-for="|item in itemList|">
                            <span th:class="|text-gray-500 text-xs|"
                                  th:text="|{{item.writtenDate}}|"></span>
                            <p th:text="|{{item.body}}|"></p>
                        </div>
                    </div>
                    <form th:action="@{/api/item/create}"
                          th:class="|relative|"
                          th:method="|post|"
                          th:v-on:submit.prevent="|onSubmit|">
                        <textarea
                                th:class="|block border border-gray-300 focus:border-red-900 focus:outline-none h-20 px-4 py-1 resize-none rounded w-full|"
                                th:name="|body|"
                                th:v-model="|body|"
                                th:v-on:keyup.ctrl.enter.prevent="|onSubmit|"></textarea>
                        <button th:class="|absolute bg-red-900 bottom-1 focus:outline-none h-8 px-4 right-4 rounded text-gray-50 text-sm|"
                                th:text="|投稿|"
                                th:type="|submit|"></button>
                    </form>
                </div>
            </div>
        </div>
        <script th:inline="javascript">
            ({
                data() {
                    return {
                        body: "",
                        itemList: [],
                    };
                },
                methods: {
                    fetchInformation() {
                        fetch("/api/information")
                            .then((response) => {
                                return response.json();
                            })
                            .then((response) => {
                                this.itemList = response.body.itemList.reverse();
                            });
                    },
                    onSubmit(event) {
                        fetch("/api/item/create", {
                            body: new FormData(event.target.closest("form")),
                            method: "post",
                        })
                            .then((response) => {
                                this.body = "";
                                this.fetchInformation();
                            });
                    },
                },
                mounted() {
                    this.fetchInformation();
                },
            });
        </script>
    </th:block>
</main>
