<main th:class="|mt-16 mx-auto w-11/12|"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">
    <th:block sec:authorize="${isAnonymous()}">
        <h1 th:class="|text-4xl|"
            th:text="|tsuzuru|"></h1>
        <p th:text="|日々を綴る。|"></p>
    </th:block>
    <th:block sec:authorize="${isAuthenticated()}">
        <div th:class="|bottom-2 fixed left-0 right-0 top-32|">
            <div th:class="|flex h-full mx-auto w-11/12|">
                <div th:class="|flex flex-col w-8/12|">
                    <div th:attr="ref=|itemList|"
                         th:class="|flex-1 overflow-y-scroll|">
                        <div th:class="|my-4|"
                             th:v-bind:key="item.uuid"
                             th:v-for="|item in itemList|">
                            <div th:class="|relative|"
                                 th:v-if="|item.mode === 'default'|">
                                <span th:class="|text-gray-500 text-xs|"
                                      th:text="|{{item.writtenDate}}|"></span>
                                <p th:text="|{{item.body}}|"></p>
                                <div th:class="|absolute right-1 top-0|">
                                    <button th:class="|focus:outline-none h-8 px-2 rounded text-gray-500 w-8|"
                                            th:type="|button|"
                                            th:v-on:click="|changeModeToModify($event, item)|">
                                        <svg th:fill="|none|"
                                             th:stroke="|currentColor|"
                                             th:viewBox="|0 0 24 24|"
                                             th:xmlns="|http://www.w3.org/2000/svg|">
                                            <path th:d="|M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z|"
                                                  th:stroke-linecap="|round|"
                                                  th:stroke-linejoin="|round|"
                                                  th:stroke-width="|2|"></path>
                                        </svg>
                                    </button>
                                    <form th:class="|inline-block|"
                                          th:method="|post|"
                                          th:v-on:submit.prevent="|submitItemDelete($event, item)|">
                                        <input th:name="${_csrf.parameterName}"
                                               th:type="|hidden|"
                                               th:value="${_csrf.token}">
                                        <button th:class="|focus:outline-none h-8 px-2 rounded text-gray-500 w-8|"
                                                th:type="|submit|">
                                            <svg th:fill="|none|"
                                                 th:stroke="|currentColor|"
                                                 th:viewBox="|0 0 24 24|"
                                                 th:xmlns="|http://www.w3.org/2000/svg|">
                                                <path th:d="|M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16|"
                                                      th:stroke-linecap="|round|"
                                                      th:stroke-linejoin="|round|"
                                                      th:stroke-width="|2|"></path>
                                            </svg>
                                        </button>
                                    </form>
                                </div>
                            </div>
                            <div th:v-if="|item.mode === 'modify'|">
                                <span th:class="|text-gray-500 text-xs|"
                                      th:text="|{{item.writtenDate}}|"></span>
                                <form th:class="|relative|"
                                      th:method="|post|"
                                      th:v-on:submit.prevent="|submitItemModify($event, item)|">
                                    <input th:name="${_csrf.parameterName}"
                                           th:type="|hidden|"
                                           th:value="${_csrf.token}">
                                    <textarea
                                            th:class="|block border border-gray-300 focus:border-red-900 focus:outline-none h-16 px-4 py-1 resize-none rounded w-full|"
                                            th:name="|body|"
                                            th:v-model="|item.bodyModel|"
                                            th:v-on:keyup.ctrl.enter.prevent="|submitItemModify($event, item)|"></textarea>
                                    <div th:class="|absolute bottom-1 right-1|">
                                        <button th:class="|focus:outline-none h-8 px-2 rounded text-red-900 w-8|"
                                                th:type="|button|"
                                                th:v-on:click="|changeModeToDefault($event, item)|">
                                            <svg th:fill="|none|"
                                                 th:stroke="|currentColor|"
                                                 th:viewBox="|0 0 24 24|"
                                                 th:xmlns="|http://www.w3.org/2000/svg|">
                                                <path th:d="|M6 18L18 6M6 6l12 12|"
                                                      th:stroke-linecap="|round|"
                                                      th:stroke-linejoin="|round|"
                                                      th:stroke-width="|2|"></path>
                                            </svg>
                                        </button>
                                        <button th:class="|focus:outline-none h-8 px-2 rounded text-red-900 w-8|"
                                                th:type="|submit|">
                                            <svg th:fill="|none|"
                                                 th:stroke="|currentColor|"
                                                 th:viewBox="|0 0 24 24|"
                                                 th:xmlns="|http://www.w3.org/2000/svg|">
                                                <path th:d="|M9 5l7 7-7 7|"
                                                      th:stroke-linecap="|round|"
                                                      th:stroke-linejoin="|round|"
                                                      th:stroke-width="|2|"></path>
                                            </svg>
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <form th:class="|relative|"
                          th:method="|post|"
                          th:v-on:submit.prevent="|submitItemCreate|">
                        <input th:name="${_csrf.parameterName}"
                               th:type="|hidden|"
                               th:value="${_csrf.token}">
                        <textarea
                                th:class="|block border border-gray-300 focus:border-red-900 focus:outline-none h-20 px-4 py-1 resize-none rounded w-full|"
                                th:name="|body|"
                                th:v-model="|bodyModel|"
                                th:v-on:keyup.ctrl.enter.prevent="|submitItemCreate|"></textarea>
                        <button th:class="|absolute bottom-1 focus:outline-none h-8 px-2 right-1 rounded text-red-900 w-8|"
                                th:type="|submit|">
                            <svg th:fill="|none|"
                                 th:stroke="|currentColor|"
                                 th:viewBox="|0 0 24 24|"
                                 th:xmlns="|http://www.w3.org/2000/svg|">
                                <path th:d="|M9 5l7 7-7 7|"
                                      th:stroke-linecap="|round|"
                                      th:stroke-linejoin="|round|"
                                      th:stroke-width="|2|"></path>
                            </svg>
                        </button>
                    </form>
                </div>
                <div th:class="|pl-12 w-4/12|">
                    <h2 th:class="|my-4 text-xl|"
                        th:text="|最近の活動|"></h2>
                    <div th:class="|my-4|">
                        <span th:class="|text-gray-500 text-xs|"
                              th:text="|投稿数|"></span>
                        <p th:text="|{{size}}|"></p>
                    </div>
                    <div th:class="|my-4|">
                        <span th:class="|text-gray-500 text-xs|"
                              th:text="|単語|"></span>
                        <div>
                            <span th:class="|pr-4|"
                                  th:text="|{{noun}}|"
                                  th:v-bind:key="noun"
                                  th:v-for="|noun in nounList|"></span>
                        </div>
                    </div>
                    <div th:class="|my-8|">
                        <a th:class="|text-blue-900 text-sm|"
                           th:href="@{/analytics}"
                           th:text="|詳細な解析|"></a>
                    </div>
                </div>
            </div>
        </div>
        <script th:inline="javascript">
            ({
                data() {
                    return {
                        bodyModel: "",
                        itemList: [],
                        nounList: [],
                        size: 0,
                    };
                },
                methods: {
                    changeModeToDefault(event, item) {
                        item.bodyModel = item.body;
                        item.mode = "default";
                    },
                    changeModeToModify(event, item) {
                        item.mode = "modify";
                    },
                    fetchInformation() {
                        fetch("/api/information")
                            .then((response) => {
                                return response.json();
                            })
                            .then((response) => {
                                this.nounList = response.body.nounList;
                                this.size = response.body.size;
                            });
                    },
                    fetchItemList(options = {}) {
                        fetch("/api/item")
                            .then((response) => {
                                return response.json();
                            })
                            .then((response) => {
                                this.itemList = response.body.itemList
                                    .map((item) => {
                                        return {
                                            uuid: item.uuid,
                                            body: item.body,
                                            bodyModel: item.body,
                                            mode: "default",
                                            writtenDate: item.writtenDate,
                                        };
                                    })
                                    .sort((a, b) => {
                                        return Date.parse(a.writtenDate) - Date.parse(b.writtenDate);
                                    });
                                if (options.scrollDown) {
                                    this.$nextTick(() => {
                                        this.$refs.itemList.lastElementChild?.scrollIntoView();
                                    });
                                }
                            });
                    },
                    submitItemCreate(event) {
                        fetch("/api/item/create", {
                            body: new FormData(event.target.closest("form")),
                            method: "post",
                        })
                            .then((response) => {
                                this.bodyModel = "";
                                this.fetchInformation();
                                this.fetchItemList({
                                    scrollDown: true,
                                });
                            });
                    },
                    submitItemDelete(event, item) {
                        fetch(`/api/item/${item.uuid}/delete`, {
                            body: new FormData(event.target.closest("form")),
                            method: "post",
                        })
                            .then((response) => {
                                this.fetchInformation();
                                this.fetchItemList();
                            });
                    },
                    submitItemModify(event, item) {
                        fetch(`/api/item/${item.uuid}/modify`, {
                            body: new FormData(event.target.closest("form")),
                            method: "post",
                        })
                            .then((response) => {
                                this.fetchInformation();
                                this.fetchItemList();
                            });
                    },
                },
                mounted() {
                    this.fetchInformation();
                    this.fetchItemList({
                        scrollDown: true,
                    });
                },
            });
        </script>
    </th:block>
</main>
